ul{
    list-style-type: none;
 margin: 0%;
 padding: 0%;
    overflow: hidden;
    background-color: #333333;
 
}

li { 
    padding-left: 203px;
    float: right;
  }
  

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }