 



 img {
    border: 1px solid #ddd;
    border-radius: 303px;
    padding: 5px;
    width: 450px;
    margin-top: 101px;
    margin-left: 692px;
    
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

 h2{
  margin-left: 449px;
  font-style: oblique;
   font-size: 35px;
 }

 h3{
  font-style: oblique;
  margin-left: 750px;
  font-size: 25px;
 }

 p{
  margin-top: 40px;
  margin-left: 890px;
  font-weight: bold;
  font-style: oblique;
  font-size: 20px;
 }

