
*{
  margin: 0%;
  padding: 0%;
}
.h3pro{
  margin-top: 200px;
}

.h2pro{
  font-size: 56px;
}
.proj1{
  
  padding: 100px;
}
.proj1 .btnprojects{
    
    border-radius: 10px;
  font-size: 20px;
}

.pro2{
  padding: 100px;

}

.proj2 .btnprojects{
  border-radius: 10px;
  font-size: 23px;
}
